.block-container.css-z5fcl4.egzxvld4{
    padding: 1rem 5rem 0;
}

div.st-bd.st-b3.st-be.st-b8.st-bf.st-bg.st-bh.st-bi.st-bj.st-bk.st-bl.st-bm.st-bn.st-b1.st-bo.st-au.st-ax.st-av.st-aw.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-bp.st-bq.st-br.st-bs.st-bt.st-bu.st-bv{
    border-radius: 0.5rem;
}

.sidebar-title{
    font-size: 30px;
    font-weight: bold;
    padding-left: 5px;
}

.card {
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #CCC;
  margin: 10px 10px 10px 0;
  width: 450px;
  min-height: 150px;
  padding: 15px;
  overflow:hidden;
  white-space: nowrap;
  word-wrap:break-word;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  overflow:hidden;
}

.card-text {
  font-size: 15px;
  text-overflow: ellipsis;
  overflow:hidden;
}

.button-container {
    display:flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    text-decoration: none;
}

.button-container:hover{
    background-color: #ff4b4b;
}

.read-more{
    width: 100px;
    height: 25px;
    text-align: center;
    border-radius:5px;
    text-decoration: none;
    color:black;
}

.read-more:link {
  text-decoration: none;
  color: black;
}

.read-more:visited {
  text-decoration: none;
  color:black;
}

.read-more:hover {
  text-decoration: none;
  color:white;
}